@import "bootstrap-sprockets";
@import "bootstrap";
.form-control:focus {
	box-shadow: 10px 10px 5px #888888;
	border-color: orange;
}
.sign-up {
  background-color: #fd802f;
  border-color: #fd802f;
}
.sign-up:hover,
.sign-up:active,
.sign-up:target {
    background-color: #fd8010;
    border-color: #fd8010;
}
.log-in {
    background-color: #fd802f;
    border-color: #fd802f;
}
.log-in:hover,
.log-in:active,
.log-in:target {
    background-color: #fd8010;
    border-color: #fd8010;
}
.remember_me {
    position: absolute;
}
.forgot-password {
    position: relative;
    left: 41%;
    bottom: 6px;
}
.forgot-password-btn {
	background-color: #fd802f;
    border-color: #fd802f;
}
.forgot-password-btn:hover,
.forgot-password-btn:active,
.forgot-password-btn:target {
	background-color: #fd8010;
    border-color: #fd8010;
}
.change-my-password {
    background-color: #fd802f;
    border-color: #fd802f;
}
.change-my-password:target,
.change-my-password:hover,
.change-my-password:active {
    background-color: #fd8010;
    border-color: #fd8010;
}
.update-btn {
    background-color: #fd802f;
    border-color: #fd802f;
}
.update-btn:target,
.update-btn:hover,
.update-btn:active {
    background-color: #fd8010;
    border-color: #fd8010;
}

.birthday.calendar {
    padding-bottom: 12px;
}
.birthday-selector {
    display: inline-flex;
}
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
    text-align: left;
 }
.alert-alert {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
    text-align: left;
 }
.alert-success {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847;
    text-align: left;
 }
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
